@import "~bootstrap/scss/functions";
$owl-image-path: "~owl.carousel/src/img/";
$theme-colors: (
        primary: #05491f
);

$primary-color: #00622E;
$primary-alt-color: #05491f;
$secondary-color: #f8ac2d;
//$owl-image-path: "~owl.carousel/src/img/";